<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>


<a href="https://fierce-mountain-74789.herokuapp.com/defects">Bugs/Defects</a>
<a href="https://fierce-mountain-74789.herokuapp.com/users">Users</a>
