<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<p>
<a href="https://fierce-mountain-74789.herokuapp.com/defects">Bugs/Defects</a>
</p>
<p>
<a href="https://fierce-mountain-74789.herokuapp.com/users">Users</a>
</p>
